@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>
    Sales and advice of branded workwear, professional climbing equipment, personal protective equipment (PPE),
    tools, laser technology, technical accessories, consumables ...<br />
    <br />
    Our product range is geared towards at many areas like: event technology, rigging, industrial climbing professionals,
    height service, trade fair construction, arborist, technical craft, construction industry, security service, surveying
    and parts of industrial saftey.<br />
    <br />
    <strong>OPENING TIMES</strong><br />
    Monday - Friday 11:00 am - 18:00 pm.
</p>
