@{
    ViewBag.Title = "Customer Service";
}
<h2>@ViewBag.Title</h2>

<address>
    If you have any queries about our products or an order you have placed, please feel free to contact us.<br />
    <br />
    Business hours: Mo-Fr 11:00-18:00 h CET (Romania)<br />
    <br />
    ROMANIAROADIE® SRL<br />
    Baba Novac 12 · 124525 Bucharest · Romania<br />
    <br />
    managing director: Mr. Radu Ilie<br />
    <br />
    contact person:<br />
    <br />
    Mrs. Melania Bratu<br />

    <abbr title="Phone">Phone:</abbr>
    +40 (0)763 / 666 576 81
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:Support@example.com">info@romaniaroadie.ro</a>
</address>