@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Romania Roadie</h1>
    <p class="lead">
    <p>OUR ROADIEWORKS STORE AT THE "JANSSEN FABRIK" SINCE 2019</p>
        <p>Sales and advice of branded workwear, professional climbing equipment, personal protective equipment (PPE), tools, laser technology, technical accessories, consumables ...

        Our product range is geared towards at many areas like: event technology, rigging, industrial climbing professionals, height service, trade fair construction, arborist, technical craft, construction industry, security service, surveying and parts of industrial saftey.
    </P>
    
    <p><a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg">Shop &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Roadieworks - Workwear and Equipment</h2>
        <p>
            
            By our own experience our team of Roadieworks knows first handed what is going to matter when it comes to the point of workwear and the perfect equipment. In our case which means the event sector were depending on workwear that fits perfectly, is comfortable but also robust and weatherproof. We are able to unite all of these properties perfectly. Since it is important for us to work in a high standard we offer you a huge variety of brands in our assortment. You have the oppurtunity to choose in between Carhartt, Snickers, Dickies, Helly Hansen and many more well known brands. Feel free to let yourself inspire you in our online store or you come by and make a stop in our great equipped Store in the Janssen Fabrik in the heart of Chemnitz.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work like a professional</h2>
        <p>
            Work like a professional
            It is not just our workwear that is able to satisfy your claims as a professional worker. Also our equipment for example helmets, safety belts ropes and many other tools will meet your personal expanses and will fit very well in your personal protective equipment. Take a closer look and be a perfectly equipped worker.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
</div>